body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border: 1px solid black;
    height: 1000px;
    width: 1000px;
}

div {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hovering {
    background: url('../images/circle.jpg');
    background-size: 100%;
}