body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    box-sizing: border-box;
    border: 1px solid black;
        /* height: 960px;
        width: 960px; */
}

button,
.button2 {
    height: 50px;
    width: 200px;
    margin: 30px;
    border: 4px solid orange;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

button:hover,
.button2:hover {
    background-color: white;
    color: orange;
    cursor: pointer;
}

div {
    border: 1px solid black;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hovering {
    background: linear-gradient(to bottom, hsl(172, 98%, 55%), hsl(123, 95%, 48%), hsl(303, 93%, 50%), hsl(56, 96%, 50%));
    background-size: 100%;
}

.button2 {
    margin-top: 0;
}